@import "../../colors.css"

* {
  color: @text;
  all: unset;
  font-size: 14px;
  font-family: "Adwaita Sans", "JetBrains Mono Nerd Font Propo";
  transition: 200ms;

}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(@background, 0.9);
  border-radius: 16px;
  border: 1px solid @primary;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6);
  margin: 9px;
  padding: 12px;
  color: @primary;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @background;
  border-radius: 16px;
  color: @secondary;
  margin: 4px 0px;
  padding: 4px;
  border: 1px solid @secondary
}

.control-center .notification-row .notification-background .notification.critical {
  color: @error;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

/* this is the notification shown in NC */
.control-center .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
  color: @secondary;

}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action {
  background: @background;
  color: @primary;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  background: @primary;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  background-color: @primary;
}

/* Buttons */
.control-center .notification-row .notification-background .close-button {
  background: @primary;
  border-radius: 6px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @primary;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @primary;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255, 255, 255, .1);
}

/* Notifications expanded-group */
.notification-group {
  margin: 2px 8px 2px 8px;

}

.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @primary;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @primary;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @primary;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @background;
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
  border-top: 1px solid @primary;
  padding-top: 8px;
  color: @primary;
  font-size: 12px;
  font-weight: 600;
}

.widget-title button {
  background: @primary;
  font-weight: 500;
  font-size: 9px;
  color: @background;
  border-radius: 6px;
  padding: 4px 16px;
  cursor: pointer;
}

.widget-title button:hover {
  background-color: @secondary;
}

.widget-title button:active {
  background-color: @secondary;
}

/* Do not disturb */
.widget-dnd {
  color: @primary;
  font-size: 12px;
  font-weight: 600;
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd>switch {
  background: transparent;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
  border: 1px solid @primary;
}

.widget-dnd>switch:hover {
  background: transparent;
}

.widget-dnd>switch:checked {
  background: transparent;
}

.widget-dnd>switch:checked:hover {
  background: transparent;
}

.widget-dnd>switch slider {
  background: @primary;
  border-radius: 6px;
}

/* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  padding-left: 20px;
  margin: 6px;
  border-radius: 12px;
  background: @primary;
  color: @background;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: @primary;
  border-radius: 8px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @primary;
}


/* Music player */
.widget-mpris {
  background: transparent;
  border-radius: 16px;
  color: @primary;
  margin: 20px 6px;
}

/* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  background-color: transparent;
  border-radius: 22px;
  padding: 6px 14px;
  margin: 6px;
}

.widget-mpris>box>button {
  color: @primary;
  border-radius: 20px;
}

.widget-mpris button {
  color: alpha(@primary, .6);
}

.widget-mpris button:hover {
  color: @primary;
}

.widget-mpris-album-art {
  margin-bottom: 10px;
  border-radius: 14px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
}

picture.mpris-background {
  opacity: 0.0;
  border-radius: 14px;
}

/* Volume */
.widget-volume {
  background: @background;
  color: @primary;
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}
