/* @import "colors/catppuccin.css"; */
@import "colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background-color: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

#workspaces {
    background-color: @background;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @background;
    color: @tertiary;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: @primary;
    background-color: @on_primary;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @primary;
    color: @background;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @secondary;
    color: @surface;
    min-width: 50px;
    border-radius: 16px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @tertiary;
    color: @surface;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#tray {
    background-color: @background;
    padding: 0 15px 0 15px;
    margin: 0 0 0 4px;
    border-radius: 50px;
    border: 1px solid @background;
}

#battery,
#pulseaudio,
#network,
#bluetooth,
#clock,
#memory,
#custom-notification {
    background-color: @background;
    padding: 0 15px 0 15px;
    margin: 0 0 0 4px;
    border-radius: 50px;
    border: 1px solid @background;
}

#clock {
    color: @primary;
}

#custom-notification {
    color: #F28FAD;
    font-family: "JetBrainsMono Nerd Font Mono";
}

#bluetooth {
    color: @tertiary;
}

#pulseaudio {
    color: @tertiary;
}

#network {
    color: @surface_tint;
}

#battery {
    color: @tertiary;
}

#memory {
    color: @primary_fixed;
    font-family: JetBrains Nerd Font Propo;
}

#custom-brightness {
    color: @secondary;
    min-width: 40px;
    background-color: @background;
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @background;
}
