/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

@import "~/.config/rofi/colors.rasi"

* {
    background:     @surface;
    background-alt: @on-primary;
    foreground:     @primary;
    selected:       @primary;
    active:         @primary;
    urgent:         @error;
}
